* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
  cursor: pointer;
}

.cont90 {
  width: 90%;
  margin: 0 auto;
}

.cont70 {
  width: 70%;
  margin: 0 auto;
}

.container {
  width: 100%;
}


header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.margin-bott {
  margin-bottom: 150px;
}

.fixed {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: white;
  z-index: 999;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.logo {
  height: 10vh;
}

.nav img {
  display: inline;
  height: 70%;
  margin: 10px;
  }
.nav li {
  display: inline-block;
  margin-top: 3.5vh;
  padding:0 20px;
  color: gray;
  text-transform: uppercase;
  font-size: 13px;
}
.nav .btn {
  background-color: #fdd13e;
  padding: 8px 20px;
  
}
.btn.dark:hover {
  background-color: #343433;
  color: white;
  transition: 0.3s;
}
/* fine nav  */
/* jumbotron  */
.cont-jumb {
  height: 100vh;
  text-align: center;
  padding-top: 10vh;
}
.jumbo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("https://avada.theme-fusion.com/construction/wp-content/uploads/sites/55/2015/12/home-slider-62528242.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.jumbo h1 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: white;
}
.jumbo p {
  font-size: 20px;
  color: #fdd13e;
  text-transform: capitalize;
  margin-bottom: 13px;
}

.btns {
  display: flex;
  justify-content: center;
}
.btns .btn {
  background-color: #fdd13e;
  padding: 10px 30px;
  margin: 8px;
  text-transform: uppercase;
}
.btns .btn:first-child {
  background-color: #343433;
  color: white;
}

.btns .btn:first-child:hover {
  background-color: #fdd13e;
  color: #343433;
  transition: 0.3s;
}
.btn {
  cursor: pointer;
}

.banner {
  height: 11.5vh;
  background-color: #fdd13e;
}
.banner p {
  font-size: 30px;
  line-height: 10vh;
}
.banner .btn {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  margin-top: -1px;
  background-color: #343433;
  padding: 8px 20px;
  align-self: center;
  border: 1px solid white;
}
.btns .btn.white:hover {
  color: #343433;
  background-color: white;
  border: 1px solid black;
}

.specialist {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
.specialist.plus-padding {
  padding-top: 100px;
}
.more-padding {
  padding-top: 200px;
}

.specialist span {
  font-size: 35px;
  color: #6b6868;
}
.specialist hr {
  width: 10%;
  margin: 10px auto;
  border-color: #fdd13e;
}
.specialist p {
  font-size: 15px;
  line-height: 30px;
  margin: 30px 0;
  color: #8F8F8F;
}
/* flip cards  */

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px; 
  margin-top: 30px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F5F5;
  color: #6b6868;
  border-radius: 5%;
}

.flip-card-front p {
  font-size: 15px;
  margin-top: -10px;
  padding: 0 20px;
  line-height: 30px;
}

.flip-card-front .icon {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 15px 20px;
  font-size: 25px;
  margin-top: 10px;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fdd13e;
  color: #6b6868;
  transform: rotateY(180deg);
  border-radius: 5%;
}

.flip-card-back h1 {
  font-size: 18px;
}
.flip-card-back p {
  line-height: 30px;
}
.flip-card-back .light {
  background-color: yellow;
  font-size: 15px;
}

/* foto tagliata  */
.circle {
  position: absolute;
  width: 100%;
  height: 150px;
  border-radius: 50%;
  margin-bottom: -75px;
  background-color: white;
  overflow: hidden;
  z-index: 3;
  margin-top: -75px;
}

.bnr-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-image: url("https://avada.theme-fusion.com/construction/wp-content/uploads/sites/55/2015/12/home-244125289.jpg");
  background-position: center center;
  background-size: no-repeat;
  z-index: 1;
}

.icns-cont {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.icn  {
  text-align: center;
  color: #fdd13e;
}
.icn i {
  font-size: 70px;
  margin-bottom: 10px;
}
.icn h2 {
  font-size: 50px;
  margin-bottom: 10px;
}
.icn p {
  color: white;
}
/* foto tagliata  */
.pics {
  display: flex;
  justify-content: center;
}
.pics img {
  width: 100%;
  /* margin: 20px; */
}
.pic-box {
  position: relative;
  width: 22%;
  margin: 25px;
}

.none {
  text-align: center;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fdd13e;
  color: white;
}
.pic-box:hover .none {
  display: block;
}

.none span {
  font-size: 12px;
}

.cont-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  color:#fdd13e;
  display: inline-block;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  margin: 10px 5px;
}


.all-proj {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.all-proj span {
  padding: 0 55px;
  color: gray;
}
.all-proj hr {
  width: 25%;
  border-color: #F5F5F5;
}

.bg-gray-100 {
  margin-top: 150px;
  background-color: #F5F5F5;
  height: 100%;
}

.boxes {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-top: 70px;
  padding-bottom: 80px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box i {
  color: white;
  font-size: 60px;
}
.box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: none;
  padding-top: 10px;
}

.home {
  background-color: #4EA4A5;
}
.sun {
  background-color: #4E6DA5;
}
.user {
  background-color: #FE5f1d;
}
.light {
  background-color: #7d7903;
}
.box p {
  font-size: 20px;
  color: #8F8F8F;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  line-height: 35px;
}
.box hr {
  margin-top: 10px;
  width: 30px;
  border: 1px solid #8F8F8F;
}
/* foto tagliata  */

.gray {
  background-color: #F5F5F5;
}
.cont-pic .bnr-pic {
  background-image: url("https://avada.theme-fusion.com/construction/wp-content/uploads/sites/55/2015/12/home-parallax-144609983.jpg");
}
.cont-pic .specialist {
  margin-top: -100px;
}
.cont-pic .specialist span {
  color: white;
}
.cont-pic .specialist img {
  width: 8%;
  border-radius: 50%;
}
.cont-pic .specialist p {
  color: white;
  font-size: 25px;
  font-style: italic;
}
.cont-pic .specialist h3 {
  color: white;
}

/* box con descrizione */
.news {
  flex-wrap:wrap;
}
.news .box {
  align-items: flex-start;
  width: 28%;
  background-color: white;
  margin: 10px;
}
.news img {
  width: 100%;
}
.news hr {
  border: 0.5px solid lightgray;
  width: 80%;
  margin: 0 auto;
}
.news .box p:first-of-type {
  text-align: left;
  font-size: 25px;
  color: #6b6868;
  padding: 10px;
}
.date {
  margin-left: 10px;
  padding-bottom: 20px;
  font-size: 12px;
  color: gray;
}
.news .box p {
  font-size: 16px;
  text-align: left;
}

.all-proj.new {
  margin-top: -20px;
  padding-bottom: 100px;
}
.all-proj.new hr {
  border: 1px solid white;
}

/* loghi allineati */

.cont-pics {
display: flex;
justify-content: space-around;
padding-bottom: 50px;
}
.cont-pics img {
  width: 15%;
}

/* foto cantiere */

.pic-builders {
  height: 50vh;
  background-position: center bottom;
  background-size: cover;
  background-image: url("https://avada.theme-fusion.com/construction/wp-content/uploads/sites/55/2015/12/about-call-to-action-57862405.jpg");
}

.cont-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

/* testo  */

.text {
  width: 50%;
}
.text .specialist {
  text-align: left;
}
.text .specialist span, .text .specialist p{
  color: white;
}
.text .specialist p {
  font-size: 22px;
}
.text .specialist hr {
  width: 30%;
  margin: 10px 0;
}

/* bottoni  */

.button {
  text-align: center;
}

.btn {
  background-color: #fdd13e;
  padding: 10px 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

.button span {
  color: white;
}

/* footer  */
.darkgray {
  background-color: #1E1E1E;
  height: 60vh;
  border-top: 15px solid #3F3F3F;
}
.black {
  background-color: black;
  height: 10vh;
  color: #727272;
  font-size: 12px;
  line-height: 10vh;
}

/* colonne */

.flex {
  display: flex;
  justify-content: space-around;
}

.column {
  flex-flow: wrap;
  /* justify-content: space-around; */
  /* align-items: center; */
  color: #727272;
  width: 30%;
  height: 100%;
  margin: 80px 10px;
}
.column h3 {
  color: #fdd13e;
  margin-bottom: 20px;
}
.column .logo {
  margin-bottom: 20px;
}
.column .btn {
  width: 50%;
  margin-top: 20px;
}
.column li {
  margin-bottom: 10px;
}
.column .map {
  width: 100%;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 80px 0;

  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  perspective: 1000px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  width: 350px;
  height: 250px;
  text-align: center;
  border-radius: 5%;
  padding: 20px;
}
